<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodbeak.foodbreak.inc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/foodbreak_logo_trans_bg_white_letters"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp">
        <activity android:name=".modules.shared.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth Module -->
        <activity android:name=".modules.auth.activities.LoginActivity"></activity>
        <activity android:name=".modules.auth.activities.RegisterActivity"></activity>
        <activity android:name=".modules.auth.activities.RegisterCompanyActivity"></activity>

        <!-- Product Module -->
        <activity android:name=".modules.product.activities.ProductActivity"></activity>
        <activity android:name=".modules.product.activities.ProductAdminActivity"></activity>
        <activity android:name=".modules.product.activities.ProductCheckoutActivity"></activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>